<!doctype html>
<html lang="en">

<head>
    <link href="../static/css/404.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="utf-8">
        <title>Page Not Found</title>
            <nav id="nav-menu-container-logo" style="text-decoration: none;">
            <ul class="nav-menu">
              <img src="../static/img/shrug.jpeg"  alt="Image" height="162" width="162" style="padding-bottom:100px;">
            </ul>
        </nav><!-- #nav-menu-container -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <h1>Server Error</h1>
        <p>Sorry, but the page you were trying to view does not exist.</p>
    </body>
</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
