{% extends "base.html" %}
{% block content %}
    <link href="../static/css/about.css" rel="stylesheet" id="bootstrap-css">

             <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 background2 hvrbox order-lg-2 order-2 wow fadeInLeft">
            <div class="hvrbox-layer_top">
				
              <div class="hvrbox-text">Founder & CTO<h2>Harrison</h2><p style="color:#adadad; font-size:16;">Harrison is a software engineer at Barclays, where he experiences first-hand the importance of coding and its position in the workplace. Then there was the golden ticket moment, where Harrison recognised that coding is the future.</p></div>
            </div>
          </div>

          <div class="col-lg-6 background1 hvrbox1 order-lg-2 order-2 wow fadeInRight">
            <div class="hvrbox-layer_top1">
				
              <div class="hvrbox-text1">Founder & CFO<h2>Charlie</h2><p style="color:#adadad; font-size:16;">Prior to LearnHack tutoring, Charlie studied Law at University before beginning his career as a technical consultant at Capgemini. Charlie works with coders almost everyday, and it wasn't long before he noticed how sought-after their skills were.</p></div>
            </div>
          </div>
          
        </div>


          <div class="content order-lg-1 order-1" style = "text-align: center;">
            <h2 class="title"style = "text-align: center; padding-top:20px;">Our Story</h2>

            <div class="icon-box wow fadeInUp">
              <p class="description">LearnHack tutoring was created in 2019 after brothers Harrison and Charlie recognised the increasing demand for coders in the workplace.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.3s">
              <p class="description">We are an online tutoring business that offer the best tutors (Here at LearnHack we call them ProfHackers), at the best times, at the best rates. We seek out the most engaging ProfHackers, who are passionate about their field, love to teach and have the qualifications to back it all up.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <p class="description">We believe that today's online world deserves a coding agency that suits your life. One that allows you to learn in your own time and in your own home.</p>
            </div>

			<div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <p class="description">We're here for those who want to learn coding. Who want to better themselves in the skill of the future. Who want to have fun.</p>
            </div>

			<div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <p class="description">Welcome to a world of coding. Welcome to LearnHack tutoring.</p>
            </div>

          </div>
          

      </div>

    </section><!-- #about -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {% endblock %}