{% extends "base.html" %}
{% block content %}
    <link href="../static/css/career.css" rel="stylesheet" id="bootstrap-css">
    <link href="../static/css/footerAnchor.css" rel="stylesheet"> 

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <div style="padding-top:60px;">
    <div class="section" style="padding-bottom: 100px;">
    <div class="top-border left"></div>
    <div class="top-border right"></div>
    <h1 style="padding-top:25px;">Become a ProfHacker</h1>
    <p>Flexible working hours, transparent pay rates, working from home - sounds ideal, right?</p>
        <a href="{{ url_for('contact') }}">Apply Now</a>

        <a href="{{ url_for('hackerfaq') }}">FAQs</a>

    </div>
    </div>

        
        
    <!-- <div style="padding-bottom: 200px;"></div> -->
{% endblock %}