{% extends "base.html" %}
{% from "macros/lesson_macro.html" import render_lesson %}

{% block content %}
    <link href="../static/css/career.css" rel="stylesheet" id="bootstrap-css">
    <link href="../static/css/footerAnchor.css" rel="stylesheet"> 

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    {{ render_lesson("Introdution to Coding (I2C)", "5 x 1 hour lessons", "On our flagship I2C course, our passionate ProfHackers will guide you on your first steps into coding. You'll learn all about the Python language, right from setting up the initial coding environment!", "curriculum1", "£199.99") }}    
    {{ render_lesson("Lesson Bundle", "10 x 1 hour lessons", "What's not to love?",Brief_Description="£399.99")}}   
    {{ render_lesson("Rolling Lessons", "1 x 1 hour", "We believe in keeping our fees simple. A flat-fee with no hidden costs.", Brief_Description="£49.99")}}   

{% endblock %}